<div class="left_bottom_pn">
    <div class="left_bottom_t">
      <div class="bg_news">
        <div class="order_gd">
          <a href="http://www.zhongguozhixie.com.cn/picture_list/11236877.html">更多&gt;&gt;</a>
        </div>
        <label>
          图片新闻
        </label>
      </div>
      
      <div class="newszp_all">
        <div class="newsp_all" style="width: 109px;">
          <a title="北京职协技工院校示范校建设经验交流座谈会在成都召开" href="http://www.zhongguozhixie.com.cn/detailed/11238423.html"><img width="109px" height="78px" src="/images/bj/1383183693688_c4ca4238a0.jpg"> </a>
        </div>
        <div class="newsz_all">
          <a title="北京职协技工院校示范校建设经验交流座谈会在成都召开" href="http://www.zhongguozhixie.com.cn/detailed/11238423.html">北京职协技工院校..</a>
        </div>
          
      </div>
      <div class="clr"></div>
      
      <div class="newszp_all">
        <div class="newsp_all" style="width: 109px;">
          <a title="孙宝树会长强调重点做好班主任培训工作" href="http://www.zhongguozhixie.com.cn/detailed/11237096.html"><img width="109px" height="78px" src="/images/bj/1344901233142_317823ff7e.jpg"> </a>
        </div>
        <div class="newsz_all">
          <a title="孙宝树会长强调重点做好班主任培训工作" href="http://www.zhongguozhixie.com.cn/detailed/11237096.html">孙宝树会长强调重..</a>
        </div>
          
      </div>
      <div class="clr"></div>
      
      <div class="newszp_all">
        <div class="newsp_all" style="width: 109px;">
          <a title="技工院校管理人员能力提升培训班圆满结束" href="http://www.zhongguozhixie.com.cn/detailed/11237042.html"><img width="109px" height="78px" src="/images/bj/1344891483131_5d518828ff.jpg"> </a>
        </div>
        <div class="newsz_all">
          <a title="技工院校管理人员能力提升培训班圆满结束" href="http://www.zhongguozhixie.com.cn/detailed/11237042.html">技工院校管理人员..</a>
        </div>
          
      </div>
      <div class="clr"></div>
      
    </div>
    <div class="left_bottom_p">

      <div class="bg_news">
        <div class="order_gd">
          <a href="http://www.zhongguozhixie.com.cn/video_list/11236889.html">更多&gt;&gt;</a>
        </div>
        <label>
          视频新闻
        </label>
      </div>
      
      
      <div class="newszp_all" style="position: relative;">
        <div class="newsp_all" style="position: absolute;left:0px;">
          <a title="" href="http://www.zhongguozhixie.com.cn/detailed/11237040.html"><img width="109px" height="78px" alt="天津发布“职业培训包”标准" src="/images/bj/1344882792896_66b6cbcf9c.jpg"> </a>

        </div>
        <div class="newsz_all" style="position: absolute;margin-top:80px;text-align: center;left:0px;">
          <a title="天津发布“职业培训包”标准" href="http://www.zhongguozhixie.com.cn/detailed/11237040.html">天津发布“职业培..</a>
        </div>
      </div>
      <div class="clr"></div>
      
      <div class="newszp_all" style="position: relative;">
        <div class="newsp_all" style="position: absolute;left:0px;">
          <a title="" href="http://www.zhongguozhixie.com.cn/detailed/11237038.html"><img width="109px" height="78px" alt="河南：再添一省级职工教育培训示范点" src="/images/bj/1344882227683_5d518828ff.jpg"> </a>

        </div>
        <div class="newsz_all" style="position: absolute;margin-top:80px;text-align: center;left:0px;">
          <a title="河南：再添一省级职工教育培训示范点" href="http://www.zhongguozhixie.com.cn/detailed/11237038.html">河南：再添一省级..</a>
        </div>
      </div>
      <div class="clr"></div>
      
      
    </div>
    <div class="left_bottom_tjzx">
      <div class="tjzx_all_p">
        <div class="p">
          推荐资讯
        </div>
        <div class="title_all title_all_xnews news_line"></div>
      </div>
      
        <div class="tjzx_all">
        <div class="tjzx_allp  phonehref">
          <a href="" title="推荐资讯">
            </a><a title="积极促进就业 构建终身职业培训体系 建设现代职业教育—— 北京职协第五届二次理事会在西安召开" href="http://www.zhongguozhixie.com.cn/detailed/11253066.html"><img width="139px" height="100px" alt="积极促进就业 构建终身职业培训体系 建设现代职业教育—— 北京职协第五届二次理事会在西安召开" src="/images/bj/1400571055719_a5b15b117a.jpg"> </a>
          
        </div>
        <div class="tjzxz_all">
          <a title="积极促进就业 构建终身职业培训体系 建设现代职业教育—— 北京职协第五届二次理事会在西安召开" href="http://www.zhongguozhixie.com.cn/detailed/11253066.html">积极促进就业&nbsp;构..</a>
        </div>
      </div>
      
        <div class="tjzx_all">
        <div class="tjzx_allp  phonehref">
          <a href="" title="推荐资讯">
            </a><a title="北京职训与欧特克公司在京举行职业教育培训合作备忘录签约仪式" href="http://www.zhongguozhixie.com.cn/detailed/11253043.html"><img width="139px" height="100px" alt="北京职训与欧特克公司在京举行职业教育培训合作备忘录签约仪式" src="/images/bj/1397546027163_7d0665438e.jpg"> </a>
          
        </div>
        <div class="tjzxz_all">
          <a title="北京职训与欧特克公司在京举行职业教育培训合作备忘录签约仪式" href="http://www.zhongguozhixie.com.cn/detailed/11253043.html">北京职训与欧特克..</a>
        </div>
      </div>
      
        <div class="tjzx_all">
        <div class="tjzx_allp  phonehref">
          <a href="" title="推荐资讯">
            </a><a title="《职业能力证书》式样说明" href="http://www.zhongguozhixie.com.cn/detailed/11238436.html"><img width="139px" height="100px" alt="《职业能力证书》式样说明" src=""> </a>
          
        </div>
        <div class="tjzxz_all">
          <a title="《职业能力证书》式样说明" href="http://www.zhongguozhixie.com.cn/detailed/11238436.html">《职业能力证书》..</a>
        </div>
      </div>
      
        <div class="tjzx_all">
        <div class="tjzx_allp  phonehref">
          <a href="" title="推荐资讯">
            </a><a title="北京职协为职业培训服务的定位与着力点" href="http://www.zhongguozhixie.com.cn/detailed/11238396.html"><img width="139px" height="100px" alt="北京职协为职业培训服务的定位与着力点" src=""> </a>
          
        </div>
        <div class="tjzxz_all">
          <a title="北京职协为职业培训服务的定位与着力点" href="http://www.zhongguozhixie.com.cn/detailed/11238396.html">北京职协为职业培..</a>
        </div>
      </div>
      
    </div>
  </div>